import requests
from bs4 import BeautifulSoup
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

# === تنظیمات ایمیل ===
EMAIL_SENDER = "your@gmail.com"  
EMAIL_PASSWORD = "your passworl"  
EMAIL_RECEIVER = "your@example.com"  


def get_dollar_price():
    url = "url"
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        
        
        price_section = soup.find('span', {'class': 'price-value'})  
        if price_section:
            dollar_price = price_section.text.strip()
            return dollar_price
        else:
            print("❌ price dollar nor found.")
            return None
    except Exception as e:
        print(f"❌ erorr the price : {e}")
        return None

# send email
def send_email(price):
    try:
        subject = "🔹 dollar price in market"
        body = f"💰 price moment: {price} 1 houre."

        msg = MIMEMultipart()
        msg["From"] = EMAIL_SENDER
        msg["To"] = EMAIL_RECEIVER
        msg["Subject"] = subject
        msg.attach(MIMEText(body, "plain"))

        server = smtplib.SMTP("smtp.gmail.com", 587)
        server.starttls()
        server.login(EMAIL_SENDER, EMAIL_PASSWORD)
        server.sendmail(EMAIL_SENDER, EMAIL_RECEIVER, msg.as_string())
        server.quit()

        print("✅ send emil is succeful.")
    except Exception as e:
        print("❌ eroor send email:", e)

# 1 houre
def job():
    price = get_dollar_price()
    if price:
        send_email(price)
    else:
        print("❌ erorr the price.")

# run your code
job()  # test your code
